<%- include('partials/header') %>

<div class="start-content">
  <div class="btns">
    <a class="light-btn" href="/logout" role="button">Log Out</a>
    <a class="dark-btn" href="/submit" role="button">Share a Secret</a>
  </div>
  <div class="posts">
    <% for (var i = 0; i <users.length; i++) {%>
      <% for (var j = 0; j <users[i].secret.length; j++) {%>
        <div class="post-card" id="<%= users[i].secret[j]._id+"-post" %>">
          <div class="post-content">
            <%= users[i].secret[j].content %>
          </div>
          <div class="tools">
            <!-- <i class="fa-regular fa-heart"></i> -->
            <i class="fa-regular fa-comment" id="<%= users[i].secret[j]._id+"-opencomments" %>"></i>
            <!-- <i class="fa-solid fa-share-nodes"></i> -->
          </div>
          <div class="comments hidden" id="<%= users[i].secret[j]._id+"-comments" %>">
            <form action="/comment" method="POST">
              <div class="comment-container">
                <input type="text" name="addComment" class="add-comment" placeholder="Write a comment">
                <button class="dark-btn" id="commentBtn" type="submit"><i class="fa-regular fa-paper-plane fa-lg"></i></button>
                <input type="hidden" name="username" value="<%= users[i].username %>">
                <input type="hidden" name="secretId" value="<%= users[i].secret[j]._id %>">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
              </div>
            </form>
            <% for (var k = 0; k < users[i].secret[j].comments.length; k++) {%>
              <hr>
              <div class="comment">
                <%= users[i].secret[j].comments[k] %>
              </div>
            <%}%>
          </div>
        </div>
      <%}%>
    <%}%>
  </div>
</div>

<script type="text/javascript" src="js/posts.js"></script>

<%- include('partials/footer') %>
